body {background:#1E4040;}

.body {background: white; width:1200px; margin:0 auto;}

.header,
.page,
.footer{border: 1px solid #ccc;position:relative;}



.toolbar{background:green}
.menu{background: gray; display: inline-block; width:166px; vertical-align: top;}
.content{background: #fff8dc; display: inline-block; width:1000px;}




/*table styles*/

.number_table{
    margin:0 auto;
    b1order: 1px solid red;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.number_table td{
    text-align: center;
    width: 60px;
    height:60px;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    opacity: 0.5;
    font-size: 24px;
    border: 1px solid green}
/*.number_table td:hover{background: red}*/

.number_table td div{position: relative}
.number_table td span.num {text-align:center}
.number_table td.opened {cursor: default}
.number_table td.opened span.num {position: absolute}
.number_table td span.word{font-size:16px;display: none}