body {background:#1E4040;}

.body {background: white; width:1200px; margin:0 auto;}

.header,
.page,
.footer{border: 1px solid #ccc;position:relative;}



.toolbar{background:green}
.menu{background: gray; display: inline-block; width:166px; vertical-align: top;}
.content{background: #fff8dc; display: inline-block; width:1000px;}




/*table styles*/

.number_table{border: 1px solid red;
    posit1ion: relative;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.number_table td{
    text-align: center;
    width: 50px;
    height:50px;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
opacity: 0.5;
    font-size: 20px;
    border: 1px solid green}
/*.number_table td:hover{background: red}*/

.number_table td div{position: relative;backgro1und: #7fffd4;}
.number_table td span.num {position: absolute;top:-11px;right:15px}
.number_table td span.word{display: none;}